body {
    font-family: Segoe UI;
}

.header {
    border: 1px solid black;
    width: 98%;
    margin-bottom: 10px;
}

.banner {
    border: 1px solid black;
    border-radius: 10px;
    height: 300px;
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;

    gap: 20px;
}

.item {
    border: 1px solid black;
    border-radius: 10px;
    height: 80px;
    width: 32.66%;
}