/*Comentários CSS*/
body {
    font-family: Segoe UI;
}

#teste {
    color: rgba(87, 62, 59, 25%);
    letter-spacing: -0.15em;
    background-image: url(../imagens/bonsai.jpg);
}

h2 {
    color: #37A6E5;
    letter-spacing: 1.5em;
}

header {
    color: rgb(83, 117, 201);
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}

span {
    color: rgb(35%, 45%, 50%);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

section {
    background-color: #FCE4F4;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 10px;
}

a {
    text-decoration: none;

}

a:visited {
    color: orange;
}

a:link {
    color: red;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

article {
    border: 2px dashed black;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 5px;
    padding-left: 8px;
    padding-bottom: 4px;
}

.cor {
    color: chartreuse
}

#borda {
    border: 3px dashed orangered;
}