{% extends "base.html"%}

{%block titulo%}
<title>Informações de Cursos</title>
{%endblock%}

{%block conteudo%}
<h1>Informações sobre o curso {{ objeto.nome }}</h1>

<p>{{objeto.descricao}}</p>

<h2>Habilidades</h2>
<ul>
    {% for item in objeto.habilidade %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>


<p>Nível de Dificuldade:
    {% if objeto.dificuldade == 1 %}
    <strong>Fácil</strong>
    {% elif objeto.dificuldade == 2 %}
    <strong>Médio</strong>
    {% else %}
    <strong>Difícil</strong>
    {% endif %}
</p>
{%endblock%}