<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste AC 3</title>
</head>

<body>
    <h3>No lado do servidor, uma chamada render_template("teste.html", usuario = u) é realizada, sendo u um dicionário
        com dados de usuário. Qual é a forma correta de exibir o nome e a idade do usuário no Jinja2?</h3>
    <p>Olá, {{usuario["nome"]}}. Você tem {{usuario["idade"]}} anos.</p>
    <br>
    <p>Teste nome: {{ nome }}, idade: {{ idade }}</p>
</body>

</html>